.App .formgroup {
    display: flex;
    align-items: center;
    color: #fff;
}
.App label {
    line-height: 20px;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    min-width: 100px;
}
.App span {
    margin-left: 20px;
    color: #fff;
}
